body {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  }
  
  header {
    display: block;
    margin: 20px;
    margin-top: 30px;
    color: #eebb4d;
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
    color: #4cd3c2;
    font-family: 'Spartan', sans-serif;
    text-transform: capitalize;
  }
  
  h3 {
    font-size: 70px;
  }
  
  p {
    display: block;
    border: 1px solid #1a64d6;
    margin: 20px 400px;
    border-radius: 10px;
    padding: 10px 5px 10px;
    background-color: #4cd3c2;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
  }

  .col-1,
  span {
    color: #4cd3c2;
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
  }
  